Options Indexes ExecCGI FollowSymlinks

order deny,allow

<Files lxr.conf>
deny from all
</Files>

<Files lib>
deny from all
</Files>

<Files ~ (find|search|source|ident|diff|cgi-bin)$>
SetHandler perl-script
PerlHandler Apache::Registry
PerlSetEnv PERL5LIB lib
</Files>
