*.iso filter=lfs diff=lfs merge=lfs -text
bochs/linux-0.12-040302-snap.zip filter=lfs diff=lfs merge=lfs -text
bochs/MINIX-1.5-040514.zip filter=lfs diff=lfs merge=lfs -text
bochs/linux-0.12-040304-snap.zip filter=lfs diff=lfs merge=lfs -text
bochs/sls-0.98.1-121021.zip filter=lfs diff=lfs merge=lfs -text
bochs/linux-0.12-080324.zip filter=lfs diff=lfs merge=lfs -text
bochs/yggdrasil-0.98.3-040515.zip filter=lfs diff=lfs merge=lfs -text
distributions/suse/suse-linux-1.0.iso filter=lfs diff=lfs merge=lfs -text
distributions/MCC/mcc-1.0+.tar filter=lfs diff=lfs merge=lfs -text
distributions/dld/dld-1.1.iso filter=lfs diff=lfs merge=lfs -text
distributions/LST/1.8.zip filter=lfs diff=lfs merge=lfs -text
distributions/slackware/slackware-1.1.2.tar filter=lfs diff=lfs merge=lfs -text
distributions/yggdrasil/Yggdrasil-1994.tar.bz2 filter=lfs diff=lfs merge=lfs -text
distributions/yggdrasil/Yggdrasil-0.98.pl3-23_19921027.tar.bz2 filter=lfs diff=lfs merge=lfs -text
distributions/caldera/caldera-1.0-preii.iso.bz2 filter=lfs diff=lfs merge=lfs -text
distributions/bogus/bogus-1.0.90.tar.gz filter=lfs diff=lfs merge=lfs -text
