<table border="0" cellspacing="0" width="100%">
  <tr valign="middle">
    <th class='dirheader' width="1%">&nbsp;</th>
    <th class='dirheader' width="1%" nowrap="nowrap" align="left">Name</th>
    <th class='dirheader' width="1%" nowrap="nowrap" align="right">Size</th>
    <th class='dirheader' width="1%" nowrap="nowrap" align="left">Date (GMT)</th>
    <th class='dirheader' width="96%" nowrap="nowrap" align="left">Description</th>
  </tr>
  $files{
  <tr valign="middle" class="$css">
    <td nowrap="nowrap">$iconlink</td>
    <td nowrap="nowrap">$namelink</td>
    <td nowrap="nowrap" align="right">$filesize{$bytes bytes} </td>
    <td nowrap="nowrap" align="right">$modtime </td>
    <td>$description{<i>$desctext</i>}</td>
   </tr>}
</table>
