<div align="center">
  This searchpage is powered by <a href="http://www.webglimpse.org/">Glimpse</a>

  <form method="get" action="http:search">
  $variables{<input type="hidden" name="$variable" value="$value">}

    <table border="1" cellpadding="5" rules="none"> 
      <tr>
        <td colspan="3">
          String to search for: <br>
          <input type="text" name="string" value="$searchtext" size="60">
          <input type="submit" value="Search">
        </td>
      </tr>
      <tr border="0">
        <td align="center">
          $casecheck Case sensitive
        </td>
        <td align="center">
          $regexpcheck Regular expression
        </td>
        <td align="center">
            $errorselect
          Misspellings allowed
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          Maximum number of files returned:
            $maxfilesselect
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          Maximum number of matches per file returned:
          $maxlinesselect
        </td>
      </tr>
    </table>
  </form>

  <a href="http:search_help.html">Hints</a> making queries
</div>
