/****************************************/
/* general style to be inherited */
/****************************************/
body {
  color: #000000;
  background-color: white;
}

/* general link behavior */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
}

/* the main page title etc. */
.main {
  color: #000066;
  font-size: 24pt;
  font-weight: bold;
}

/* banner - displayed file/folder path */
.banner {
  font-size: 18pt;
  color: #339966;
}

/****************************************/
/* menus, "variables" */
/****************************************/
a.modes, a.varlink {
  text-decoration: none; 
  color: blue;
}

a.modes:visited, a.varlink:visited {
  color: blue;
}

a.modes:hover, a.varlink:hover {
  background-color: #ddffcc;
  text-decoration: none;
}

/* currently selected mode/variable */
.modes-sel, .var-sel { /* selected one */
  font-style: italic;
  font-weight: bold;
}

/****************************************/
/* directory view */
/****************************************/

/* link to file or folder in the source view */
a.dirfile {
}

a.dirfolder {
}

/* directory listing header */
.dirheader {
  background-color: #669966;
  color: #000066;
}

/* "odd" lines (three at once) */
.dirrow1 {
  background-color: #ffffff;
}

/* "even" lines (three at once) */
.dirrow2 {
  background-color: #eeeeee;
}

/****************************************/
/* file view */
/****************************************/

/* link - the line number - underlined by default */
a.fline {
  text-decoration: underline;
}

/* link to other site (http, ftp and mailto) */
a.offshore {
}

/* link to the include file */
a.include {
  color: #669966;
}

/* link - identifier search */
.fid {
  color: #669966;
}

/* general file font etc. */
pre.file {
}

/* comments */
.comment {
  color: #000066;
}

/* strings */
.string {
  color: #000066;
}

/****************************************/
/* indent. search result */
/****************************************/

/* link to "member of" */
.search-member {
  color: #669966;
}

/* link to the file with declaration */
.search-decl {
}

/* link to the file with reference */
.search-ref {
}

/* identifier searched (in header) */
.search-ident {
  font-size: 18pt;
  font-weight: bold;
  color: #000066;
}

/* declaration list block */
.search-ul {
  display: block;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

/* indented items (declaration list) */
.search-li1 {
  display: list-item;
  margin-left: 50pt;
}

/* indented (but not so much) items (ref. list) */
.search-li2 {
  display: list-item;
  margin-left: 20pt;
}

/****************************************/
/* diff view */
/****************************************/

/* reference to the file (in header) */
.diff-fref {
}

/* marks like '!!', '<<' etc. */
.diff-mark {
  color: red;
}
