#bg1 {
	BACKGROUND-COLOR: black
}
#bg2 {
	BACKGROUND-COLOR: #212121
}
#bg3 {
	BACKGROUND-COLOR: #313131
}
#titel {
	FONT-SIZE: xx-large; COLOR: #ffff00; TEXT-DECORATION: underline
}
#titel2 {
	FONT-SIZE: x-large; COLOR: white; FONT-STYLE: oblique
}
#seite {
	FONT-SIZE: small; FONT-STYLE: oblique
}
#einl {
	FONT-WEIGHT: bold; COLOR: white
}
#einl2 {
	COLOR: white; FONT-STYLE: oblique
}
A:link {
	FONT-SIZE: medium; COLOR: #676767; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: medium; COLOR: #c5c5c5; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: medium; COLOR: #ff0000; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: medium; COLOR: #33ff33; TEXT-DECORATION: none
}
