#include <windows.h>
#include "gp_mswin.h"

texticon ICON gstext.ico

grpicon ICON gsgraph.ico


PRSEL DIALOG 8, 31, 251, 79
CAPTION "Ghostscript"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
BEGIN
	CONTROL "", PRMNU, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL, 21, 49, 179, 60
	PUSHBUTTON "OK", IDOK, 210, 8, 40, 13
	PUSHBUTTON "Cancel", IDCANCEL, 210, 28, 40, 12
	PUSHBUTTON "&Options...", PRSET, 210, 48, 40, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "&Default Printer", DEFPRN, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 11, 67, 12
	CONTROL "Specific &Printer", SPECPRN, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 36, 65, 12
	CONTROL "", DEFPRNSTR, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 21, 24, 180, 12
	CONTROL "Printer", 112, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 2, 199, 61
END
