A:link    { COLOR: #0000FF; }
A:visited { COLOR: #6666FF; }
A:active  { COLOR: #6666FF; }
A:hover   {
	COLOR: #FF0000;
	TEXT-DECORATION: underline;
}

H1{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #006600;
    BACKGROUND-COLOR: white;
    FONT-SIZE: 20pt;
}
H2{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #006600;
    BACKGROUND-COLOR: white;
    FONT-SIZE: 15pt;
}
H3{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #006600;
    BACKGROUND-COLOR: white;
    FONT-SIZE: 14pt;
}
H4{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #006600;
    BACKGROUND-COLOR: white;
    FONT-Style: italic;
    FONT-SIZE: 12pt;
}
H5{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #006600;
    BACKGROUND-COLOR: white;
    FONT-SIZE: 11pt;
}
H6{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    COLOR: #006666;
    BACKGROUND-COLOR: white;
    FONT-SIZE: 10pt;
    font-weight : bold;
}

BODY
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 3pt;
    MARGIN-TOP: 2pt;
    COLOR: #000000;
    BACKGROUND-COLOR: white;
}

BLOCKQUOTE.synopsis
{
    FONT-SIZE: 11pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

/*em { font-style: italic; font-weight: normal; font-size:10pt; }*/

BLOCKQUOTE.body
{
    FONT-SIZE: 10pt;
    MARGIN-BOTTOM: 0pt;
    MARGIN-LEFT: 0pt;
    MARGIN-TOP: 0pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-INDENT: 10px;
}

TABLE {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0pt;
    MARGIN-TOP: 0pt;
    COLOR: #000000;
    BACKGROUND-COLOR: white;
}

P.tent {
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
}

UL 
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    COLOR: #000000;
}

LI
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    COLOR: #000000;
/*     TEXT-INDENT: -10px; */

}

HR
{
    COLOR: #009900;
} 

div.box { border: none; border-width: thin;
background: rgb(204,204,255);
font-size: 11pt;
 }


pre {FONT-SIZE: 11pt; }
pre { font-family: monospace; }

